<div class="col col-xs-12 col-sm-6 col-md-4">
    <div class="island">
        <div class="insights">
            <div>
                <h5 class="category pull-left">{{title}}</h5>
            </div>
            <div>
                <h5 class="label pull-left">{{label}}</h5>
                <h4 class="label_value pull-right">{{labelData}}</h4>
            </div>
            <div>
                <div class="sub tag period text-muted pull-left">
                    <small class="small">{{tag}}</small>
                </div>
                <div class="sub text-muted pull-right">
                    <small class="small rise_percent">{{subtext}}<i class="fa fa-level-up" aria-hidden="true"></i></small>
                </div>
            </div>
        </div>
    </div>
</div>