<div class="col col-xs-12 col-sm-6" [ngClass]="mode === 'md' ? 'col-md-4' : 'col-md-2' ">
    <div class="island">
        <div class="insights">
            <div>
                <h5 class="category pull-left">{{card[currentIndex]?.title}}</h5>

                <div *ngIf="card.length > 1" class="pull-right">
                    <i class="fa fa-chevron-left" (click)="previous(currentIndex)"></i>
                    <i class="fa fa-chevron-right" (click)="next(currentIndex)"></i>
                </div>
            </div>
            <div>
                <h5 class="label pull-left">{{card[currentIndex]?.label}}</h5>
                <h4 class="label_value pull-right">{{card[currentIndex]?.labelData}}</h4>
            </div>
            <div>
                <div class="sub tag period text-muted pull-left">
                    <small class="small">{{card[currentIndex]?.tag}}</small>
                </div>
                <div class="sub text-muted pull-right">
                    <small class="small rise_percent">{{card[currentIndex]?.subtext}}</small>
                </div>
            </div>
        </div>
    </div>
</div>