<div class="row bodyBlock">
    <div class="col col-xs-12">
        <div class="insights">
            <div class="strip">
                <h4 class="dashboard_name">Welcome, John Doe</h4>
            </div>
        </div>
    </div>
    <div class="col col-xs-12">
        <div class="insights">
            <ngb-tabset>
                <ngb-tab *ngIf="showCompany" title="Company Dashboard">
                    <ng-template ngbTabContent>
                        <app-company></app-company>
                    </ng-template>
                </ngb-tab>

                <ngb-tab *ngIf="showMydash" title="My Dashboard">
                    <ng-template ngbTabContent>
                        <app-mydashboard></app-mydashboard>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
            <!-- <ul class="nav nav-pills dashboard_view">
                <li>
                    <a *ngIf="showCompany" href="/company">Company Dashboard</a>
                </li>

                <li>
                    <a *ngIf="showMydash" href="/myDashboard">My Dashboard</a>
                </li>
            </ul> -->
        </div>
    </div>
</div>
<router-outlet></router-outlet>