<div class="row bodyBlock">
    <div class="col col-xs-12">
        <div class="insights">
            <div class="strip">
                <h4 class="dashboard_name">Welcome, John Doe</h4>
            </div>
        </div>
    </div>
    <div class="col col-xs-12">
        <div class="insights">
            <ul class="nav nav-pills dashboard_view">
                <li>
                    <a *ngIf="showCompany" routerLink="/company" routerLinkActive="router-link-active">Company Dashboard</a>
                </li>

                <li>
                    <a routerLink="/myDashboard" routerLinkActive="router-link-active">My Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>