<div class="row bodyBlock">
    <div class="col col-xs-12">
        <div class="island">
            <div class="insights">
                <div>
                    <h5 class="category pull-left">Payroll Information</h5>
                    <div class="sub tag text-muted pull-right">
                        <small class="small">This Month</small>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12 col-sm-5">
                        <div id="chart"></div>
                    </div>
                    <div class="col-xs-6 col-sm-4 payroll_info_list">
                        <h4 class="label">Payroll Summary</h4>
                        <div class="scroll_div">
                            <ul class="scrollable_list">
                                <li *ngFor="let x of payrollSummary; let i = index;" class="text-muted small">
                                    <small class="small">{{x.amt_desc}}</small>
                                    <small class="small rightAlign_Value">{{x.amt_value}}
                                            </small>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 payroll_info_list">
                        <h4 class="label">Batches</h4>
                        <div ss-container class="scroll_div">
                            <ul class="scrollable_list">
                                <li *ngFor="let x of batchSummary;let i = index;" class="text-muted small batchList">
                                    <div>
                                        <small class="small">{{x.batch_desc}}</small>
                                        <h4 class="rightAlign_Value">{{x.batch_value}}
                                        </h4>
                                    </div>

                                    <div class="progress full-time-progress">
                                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':width[i] + '%','background-color':color[i]}">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="sub text-muted pull-left">
                        <small class="small">Analysis:Increase for the current month by 16%.</small>
                    </div>
                    <div class="sub text-muted pull-right">
                        <small class="small">Update on Mar 15</small>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>